* {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none !important;
}

#main {
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-rows: minmax(50px, 100px) 1fr;
  justify-content: center;
  text-align: center;
}

#scores {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d0bba9;
}

.player-score {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#board {
  height: 100%;
  width: fit-content;
  background-color: #d0bba9;
  display: grid;
  grid-gap: 5px;
}

.row {
  width: fit-content;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 200px);
  grid-gap: 5px;
  background-color: #d0bba9;
}

.column {
  width: 100%;
  height: 100%;
  background-color: #fdebdc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column > span {
  height: auto;
  width: 100%;
  align-self: center;
  position: relative;
}
.column > span > i {
  height: auto;
  width: auto;
}

#game-over-modal,
#start-game-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#game-over-modal-content {
  background-color: #fefefe;
}

#game-over-modal-content,
#start-game-modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  color: white;
}

#game-over-container > div {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#final-scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  margin-top: 20px;
  border: solid 2px white;
  padding: 10px;
  background-color: transparent;
  color: white;
  grid-area: b;
}

button:hover,
button:focus {
  background-color: rgba(0, 0, 0, 0.418);
  text-decoration: none;
  cursor: pointer;
}

div[data-value="1"] > span {
  color: #d80000;
  position: fixed;
}

div[data-value="2"] > span {
  color: #1164ff;
  position: fixed;
}

div[data-value="c"] > span {
  background-image: url("./assets/coin.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
  height: 100px;
  width: 100px;
  position: fixed;
  background-position: center;
}

.player-score {
  padding-top: 10px;
}

.score-title {
  font-weight: bold;
  font-size: large;
}

div.player-score[data-player-id="1"] > .score-title {
  color: #d80000;
  font-size: large;
}

div.player-score[data-player-id="2"] > .score-title {
  color: #1164ff;
}

#game-over-modal-content[data-winner-id="1"] {
  background-color: #631111d1;
}
#game-over-modal-content[data-winner-id="2"] {
  background-color: #112c69c7;
}
#game-over-modal-content[data-winner-id="3"] {
    background-color: #2f2818cc;
  }

#start-game-modal-content {
  background-color: #2f2818cc;
  text-align: center;
}

#game-dimensions-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#game-dimensions-container input {
  width: 50px;
  justify-self: center;
}

#start-game-modal {
  background-image: url("./assets/coins-pile.png");
  background-color: rgb(202 169 89);
  background-size: cover;
}
