* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

#main {
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-rows: minmax(50px, 100px) 1fr;
  justify-content: center;
  text-align: center;
}

#scores {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d0bba9;
}

.player-score {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#board {
  height: 100%;
  width: fit-content;
  background-color: #d0bba9;
  display: grid;
  grid-gap: 5px;
}

.row {
  width: fit-content;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 200px);
  grid-gap: 5px;
  background-color: #d0bba9;
}

.column {
  width: 100%;
  height: 100%;
  background-color: #fdebdc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column > span {
  height: auto;
  width: 100%;
  align-self: center;
  position: relative;
}
.column > span > i {
  height: auto;
  width: auto;
}

#game-over-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
}

#game-over-container >div{
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#final-scores{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-game {
  margin-top: 20px;
  border: solid 2px white;
  padding: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  grid-area: b;
}

.new-game:hover,
.new-game:focus {
  background-color: rgba(0, 0, 0, 0.418);
  text-decoration: none;
  cursor: pointer;
}

div[data-value="1"] > span {
  color: #730000;
  position: fixed;
}

div[data-value="2"] > span {
  color: #0033a9;
  position: fixed;
}

div[data-value="c"] > span {
  background-image: url("./assets/coin.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  height: 100%;
  max-width: 100px;
  background-position: center;
}

.player-score {
  padding-top: 10px;
}

.score-title {
  font-weight: bold;
  font-size: large;
}

div.player-score[data-player-id="1"] > .score-title {
  color: #730000;
  font-size: large;
}

div.player-score[data-player-id="2"] > .score-title {
  color: #0033a9;
}

#modal-content[data-winner-id="1"] {
  background-color: #c54f4fc7;
}
#modal-content[data-winner-id="2"] {
  background-color: #446eadc7;
}
